Source: binutils-ia16-elf
Section: devel
Priority: optional
Maintainer: TK Chia <tkchia@gmx.com>
Build-Depends: debhelper (>=9), autotools-dev, texinfo, bison, flex, gettext,
 dejagnu, quilt, python3:any, file, lsb-release, zlib1g-dev
#Depends: newlib-ia16-elf (>=2.4.0)
Standards-Version: 3.9.6
Homepage: https://github.com/crtc-demos/binutils-ia16
Vcs-Git: https://github.com/crtc-demos/binutils-ia16.git

Package: binutils-ia16-elf
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GNU binary utilities, for ia16-elf target
 Unofficial port of GNU binutils to the ia16-elf target --- for 16-bit Intel
 x86 CPUs, using ELF objects internally, and producing MS-DOS executables ---
 by Andrew Jenner.
 .
 This is based on the sources of Jenner et al.'s toolchain for IA-16 (see
 https://sourcery.mentor.com/GNUToolchain/subscription57091?cmpid=11885 and
 https://github.com/crtc-demos/binutils-ia16).

