#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	exec dh $@ --parallel --builddirectory=build

override_dh_update_autotools_config:
	# Nope, do not touch config.sub or config.guess .

override_dh_auto_configure:
	# See redist-ppa.sh .
	exec dh_auto_configure -O--parallel -- \
	    --target=ia16-elf --infodir=/usr/ia16-elf/info \
	    --disable-libssp --enable-languages=c,c++ --with-newlib \
	    --disable-libstdcxx-dual-abi --disable-extern-template \
	    --disable-wchar_t

override_dh_auto_build-arch:
	dh_auto_build -a -O--parallel -O--builddirectory=build
	# See redist-ppa.sh .
	mkdir -p build/gcc/include-fixed
	cp gcc/glimits.h build/gcc/include-fixed/limits.h
	echo timestamp >build/gcc/stmp-fixinc

override_dh_auto_test:
	# To be implemented...
